.ViewRecipeMain{
    background-color: #efb791;
}

.ViewRecipeImage{
    width: 50%;
    height: 90%;
}

.Button{
    width: 200px;
    background-color: #ff812d;
    border: none;
}

.Button:hover{
    background-color: #d65906;
}

.ViewRecipeContent{
    box-shadow: 0 0 10px gray;
}

.ViewRecipeItems{
    width: 80%;
    height: 100%;
}

.ViewRecipeItem{
    margin-top: 3%;
    font-size: 20px;
    border-bottom: 2px solid gray;
}

.ViewRecipeItem div{
    margin-left: 5%;
}